APP_NAME=Hookline
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8085

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=hookline_testing
DB_USERNAME=hookline
DB_PASSWORD=secret

SESSION_DRIVER=array
QUEUE_CONNECTION=sync
CACHE_STORE=array
MAIL_MAILER=array
BROADCAST_CONNECTION=null
